
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 5px;
}
.link_1{
    display: flex;
    
    width: 200px;
    justify-content: center;
    align-items: center;
    height: 90px;
}
.link_1_button{
    width: 200px;
    height: 90px;
    border-radius: 10px;
    font-family: arial;
    font-size:19px;
    background-color: white;
    transition: 0.20s;
    cursor: pointer;
}
.link_1_button:hover{
    background-color: #15a146;
    color: white;

}
.link_2_button{
    width: 200px;
    height: 90px;
    border-radius: 10px;
    font-family: arial;
    font-size:19px;
    background-color: #15a146;
    color: white;
    cursor: pointer;
}
.link_2_button:hover{
    background-color: white;
    color: black;
}

.papa{
    
    width: 1380px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
    height: 100px;
    column-gap: 10px;
}

.text{
    width: 1380px;
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}