<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/study.css">
</head>
<body style="background-color: #ECFDF5;
display: grid;
grid-template-columns: 600px 1fr;">

    <div class="papa_of_div">
        <p style="width: 300px;
        font-family: arial;
        color: rgb(30, 2, 2);;">Start where you are. Use what you have. Do what you can</p>
        <div class="study_div">
            <form method="post" action="{{url_for('student.studies')}}">
                <input class="input" type="text" name="subject" placeholder="subject">
                <input class="input" type="text" name="topic" placeholder="topic">
                <input class="button" type="submit" value="Add to the list">
            </form>
        </div>
    </div>
    <div class="papa_of_div_2">
        <img style="width: 700px;
        position: relative;
        
        bottom: 100px;" src="/static/css/tea.png">
    </div>
    
</body>
</html>